/* General Styles */
body {
    font-family: 'Arial', sans-serif;
}

h1, h2, h3, h4, h5 {
    color: #2b2b2b;
}

p {
    color: #777;
}

.hero-section {
    background-color: #f8f9fa;
}

.features-section .col-md-4 {
    padding: 20px 0;
}

.assistance-section .btn-info {
    background-color: #17a2b8;
    border: none;
}

footer {
    background-color: #f8f9fa;
}

footer h5 {
    color: #17a2b8;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li a {
    color: #777;
    text-decoration: none;
}

footer ul li a:hover {
    color: #17a2b8;
}
